{{> head }}
{{> navbar }}  


<div class="row">
    <div class="col-8">
        <h1>Tulipanes</h1>
        <p>Tulipa es un género de plantas perennes y bulbosas perteneciente a la familia Liliaceae, en el que se incluyen los populares tulipanes, nombre común con el que se designa a todas las especies, híbridos y cultivares de este género</p>
        <p>La mejor época para plantar los bulbos de tulipán es en otoño, así estarán listos para florecer en primavera. El momento ideal para plantarlos es durante las primeras heladas de otoño, cuando el frío aprieta, ese es el momento idóneo para hacerlo.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/Tulips.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}